<section class="container">

<aside class="left-column">

<p id="search-title">Search:</p>

<input type="text">

<p id="sorter-title">Sort by:</p>

<select name="sortList" id="sortList">
    <option value="newest">Newest</option>
    <option value="oldest">Oldest</option>
    <option value="alphabetical">Alphabetical</option>
</select>

</aside>

<main class="right-column">

<div *ngFor="let product of productList">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ 'assets/' + product.imageUrl }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.snippet }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

</main>

</section>